.article-form {
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    max-width: 700px; 
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; 
    margin-bottom: 20px; 
}

* {
    box-sizing: border-box;
}

.article-form-header {
    text-align: center;
    font-size: 22px;
    color: #2c3e50;
    font-weight: 700;
    margin-bottom: 22px;
}

.input-field {
    margin-bottom: 0px; 
}

.input-field input,
.input-field textarea {
    width: 100%; 
    max-width: 100%; 
    padding: 9px;
    padding-bottom: 0px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    font-size: 16px;
    color: #34495e;
    background-color: #ffffff;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.05);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-field input:focus,
.textarea-field textarea:focus {
    border-color: #3498db;
    box-shadow: 0 0 8px rgba(52, 152, 219, 0.3);
}

.custom-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 12px 20px;
    margin-bottom: 0px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.custom-button:hover {
    background-color: #2980b9;
    box-shadow: 0 5px 15px rgba(41, 128, 185, 0.3);
}

@media (max-width: 768px) {
    .article-form {
        padding: 15px;
        max-width: 90%; 
        margin-bottom: 15px;
    }

    .article-form-header {
        font-size: 20px;

    }
}
